*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/myLibrary/src/test/
/myLibrary/src/androidTest/
/app/src/androidTest/
/app/src/test/
